<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/event_agency?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">1111</property>
        <mapping class="com.alex.model.models.Agency"/>
        <mapping class="com.alex.model.models.Animator"/>
        <mapping class="com.alex.model.models.AgencyType"/>
        <mapping class="com.alex.model.models.AgencyAnimator"/>
        <mapping class="com.alex.model.models.Client"/>
        <mapping class="com.alex.model.models.EventAddress"/>
        <mapping class="com.alex.model.models.Event"/>
        <mapping class="com.alex.model.models.Price"/>
        <mapping class="com.alex.model.models.OrderClient"/>
    </session-factory>
</hibernate-configuration>